:root {
  --grid-size: 100px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.calendars {
  display: grid;
  grid-template-columns: 1fr;
}

.month-title {
  padding-bottom: 10px;
}

.month-wrapper {
  padding: 10px;
}

.month {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(7, var(--grid-size));
  grid-template-rows: repeat(6, var(--grid-size));
}

.day {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f7fdff;
  border: 1px solid #888;
  padding: 2px;
}

.day .date {
  font-size: 12px;
}

.day .total {
  padding-top: 20px;
  align-self: center;
}

.january {
  background: hsl(120, 50%, 80%);
}
.february {
  background: hsl(212, 22%, 80%);
}
.march {
  background: hsl(10, 38%, 80%);
}
.april {
  background: hsl(152, 49%, 80%);
}
.may {
  background: hsl(61, 60%, 80%);
}
.june {
  background: hsl(175, 75%, 80%);
}
.july {
  background: hsl(278, 32%, 80%);
}
.august {
  background: hsl(51, 34%, 80%);
}
.september {
  background: hsl(318, 80%, 80%);
}
.october {
  background: hsl(110, 56%, 80%);
}
.november {
  background: hsl(32, 100%, 80%);
}
.december {
  background: hsl(229, 55%, 80%);
}
